# SQLite3

## 1 Подключение к базам данных

In [167]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection("/Users/nikossik/Coding/sql_db/db_library.sqlite")

Connection to SQLite DB successful

## 2 Создание таблиц

In [168]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [169]:
create_authors_table = """
CREATE TABLE Authors (
        author_id INTEGER PRIMARY KEY,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        birth_date DATE NOT NULL
);
"""
execute_query(connection, create_authors_table)

Query executed successfully

In [170]:
create_books_table = """
CREATE TABLE Books (
        book_id INTEGER PRIMARY KEY,
        title TEXT NOT NULL,
        author_id INTEGER NOT NULL,
        publication_year INTEGER NOT NULL,
        FOREIGN KEY (author_id) REFERENCES Authors (author_id)
);
"""
execute_query(connection, create_books_table)

Query executed successfully

In [171]:
create_readers_table = """
    CREATE TABLE Readers (
        reader_id INTEGER PRIMARY KEY,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        registration_date DATE NOT NULL
);
"""
execute_query(connection, create_readers_table)

Query executed successfully

In [172]:
create_bookIssues_table = """
    CREATE TABLE BookIssues (
        issue_id INTEGER PRIMARY KEY,
        reader_id INTEGER NOT NULL,
        book_id INTEGER NOT NULL,
        issue_date DATE NOT NULL,
        return_date DATE,
        FOREIGN KEY (reader_id) REFERENCES Readers (reader_id),
        FOREIGN KEY (book_id) REFERENCES Books (book_id)
    )
"""
execute_query(connection, create_bookIssues_table)

Query executed successfully

## 3 вставка записей

In [173]:
create_authors = """
INSERT INTO
   Authors (author_id, first_name, last_name, birth_date)
VALUES
    (1, "Лев", "Толстой", "1828-09-09"),
    (2, "Федор", "Достоевский", "1821-11-11"),
    (3, "Антон", "Чехов", "1860-01-29"),
    (4, "Александр", "Пушкин", "1799-06-06"),
    (5, "Николай", "Гоголь", "1809-03-31")
"""

execute_query(connection, create_authors)

Query executed successfully

In [174]:
create_books = """
INSERT INTO
   Books (book_id, title, author_id, publication_year)
VALUES
    (1, "Война и мир", 1, 1869),
    (2, "Преступление и наказание", 2, 1866),
    (3, "Чайка", 3, 1896),
    (4, "Евгений Онегин", 4, 1833),
    (5, "Мертвые души", 5, 1842)
"""

execute_query(connection, create_books)

Query executed successfully

In [175]:
create_readers = """
INSERT INTO
  Readers (reader_id, first_name, last_name, registration_date)
VALUES
    (1, "Иван", "Иванов", "2023-01-01"),
    (2, "Елена", "Петрова", "2023-02-12"),
    (3, "Сергей", "Сидоров", "2023-03-23"),
    (4, "Мария", "Кузнецова", "2023-04-14"),
    (5, "Дмитрий", "Смирнов", "2023-05-05")
"""
execute_query(connection, create_readers)

Query executed successfully

In [176]:
create_book_issues = """
INSERT INTO
  BookIssues (issue_id, reader_id, book_id, issue_date, return_date)
VALUES
    (1, 1, 1, "2023-06-01", NULL),
    (2, 2, 2, "2023-06-02", NULL),
    (3, 3, 3, "2023-06-03", NULL),
    (4, 4, 4, "2023-06-04", NULL),
    (5, 5, 5, "2023-06-05", NULL)
"""
execute_query(connection, create_book_issues)

Query executed successfully

## 4 добавление в каждую таблицу по одному примеру

In [177]:
# Запросы
add_author_query = """
INSERT INTO Authors (author_id, first_name, last_name, birth_date)
VALUES (7, 'Иван', 'Бунин', '1870-10-22')
"""

add_book_query = """
INSERT INTO Books (book_id, title, author_id, publication_year)
VALUES (7, 'Темные аллеи', 7, 1866)
"""

add_reader_query = """
INSERT INTO Readers (reader_id, first_name, last_name, registration_date)
VALUES (7, 'Ольга', 'Королева', '2023-08-01')
"""

add_book_issue_query = """
INSERT INTO BookIssues (issue_id, reader_id, book_id, issue_date)
VALUES (7, 7, 7, '2023-08-02')
"""

# Выполнение запросов
execute_query(connection, add_author_query)
execute_query(connection, add_book_query)
execute_query(connection, add_reader_query)
execute_query(connection, add_book_issue_query)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

## 5 Извлечение данных из записей

### Выбрать все записи из таблиц

In [178]:
select_from_authors = "SELECT * FROM Authors"
all_authors = execute_read_query(connection, select_from_authors)

for author in all_authors:
    print(author)

(1, 'Лев', 'Толстой', '1828-09-09')
(2, 'Федор', 'Достоевский', '1821-11-11')
(3, 'Антон', 'Чехов', '1860-01-29')
(4, 'Александр', 'Пушкин', '1799-06-06')
(5, 'Николай', 'Гоголь', '1809-03-31')
(7, 'Иван', 'Бунин', '1870-10-22')

In [179]:
select_from_books = "SELECT * FROM Books"
all_books = execute_read_query(connection, select_from_books)

for book in all_books:
    print(book)

(1, 'Война и мир', 1, 1869)
(2, 'Преступление и наказание', 2, 1866)
(3, 'Чайка', 3, 1896)
(4, 'Евгений Онегин', 4, 1833)
(5, 'Мертвые души', 5, 1842)
(7, 'Темные аллеи', 7, 1866)

In [180]:
select_from_readers = "SELECT * FROM Readers"
all_readers = execute_read_query(connection, select_from_readers)

for reader in all_readers:
    print(reader)

(1, 'Иван', 'Иванов', '2023-01-01')
(2, 'Елена', 'Петрова', '2023-02-12')
(3, 'Сергей', 'Сидоров', '2023-03-23')
(4, 'Мария', 'Кузнецова', '2023-04-14')
(5, 'Дмитрий', 'Смирнов', '2023-05-05')
(7, 'Ольга', 'Королева', '2023-08-01')

In [181]:
select_from_book_issues = "SELECT * FROM BookIssues"
all_book_issues = execute_read_query(connection, select_from_book_issues)

for issue in all_book_issues:
    print(issue)

(1, 1, 1, '2023-06-01', None)
(2, 2, 2, '2023-06-02', None)
(3, 3, 3, '2023-06-03', None)
(4, 4, 4, '2023-06-04', None)
(5, 5, 5, '2023-06-05', None)
(7, 7, 7, '2023-08-02', None)

### Запрос с использованием JOIN

In [182]:
# Список читателей и названия книг, которые они взяли:
join_readers_and_books = """
SELECT Readers.first_name, Readers.last_name, Books.title
FROM BookIssues
JOIN Readers ON BookIssues.reader_id = Readers.reader_id
JOIN Books ON BookIssues.book_id = Books.book_id
"""
join_query = execute_read_query(connection, join_readers_and_books)

for example in join_query:
    print(example)

('Иван', 'Иванов', 'Война и мир')
('Елена', 'Петрова', 'Преступление и наказание')
('Сергей', 'Сидоров', 'Чайка')
('Мария', 'Кузнецова', 'Евгений Онегин')
('Дмитрий', 'Смирнов', 'Мертвые души')
('Ольга', 'Королева', 'Темные аллеи')

### Запрос с использованием WHERE и GROUP BY

In [183]:
# Количество книг, опубликованных после 1860 года, по авторам
group_by_books_and_authors = """
SELECT Books.author_id, title, COUNT(*) as number_of_books
FROM Books
WHERE publication_year > 1860
GROUP BY Books.author_id
"""
group_by_query = execute_read_query(connection, group_by_books_and_authors)

for example in group_by_query:
    print(example)

(1, 'Война и мир', 1)
(2, 'Преступление и наказание', 1)
(3, 'Чайка', 1)
(7, 'Темные аллеи', 1)

### Два запроса с вложенным SELECT

In [184]:
# Книги автора с фамилией "Толстой"
select_1 = """
SELECT * FROM Books
WHERE author_id IN (SELECT author_id FROM Authors WHERE last_name = 'Толстой')
"""
select_1_query = execute_read_query(connection, select_1)

for example in select_1_query:
    print(example)

(1, 'Война и мир', 1, 1869)

In [185]:
# Читатели, которые взяли книгу с ID 1 (Война и мир)
select_2 = """
SELECT * FROM Readers
WHERE reader_id IN (SELECT reader_id FROM BookIssues WHERE book_id = 1)
"""
select_2_query = execute_read_query(connection, select_2)

for example in select_2_query:
    print(example)

(1, 'Иван', 'Иванов', '2023-01-01')

### Запрос с использованием UNION

In [186]:
union_1 = """
SELECT first_name, last_name FROM Readers
UNION
SELECT first_name, last_name FROM Authors
"""
union_1_query = execute_read_query(connection, union_1)

for example in union_1_query:
    print(example)

('Александр', 'Пушкин')
('Антон', 'Чехов')
('Дмитрий', 'Смирнов')
('Елена', 'Петрова')
('Иван', 'Бунин')
('Иван', 'Иванов')
('Лев', 'Толстой')
('Мария', 'Кузнецова')
('Николай', 'Гоголь')
('Ольга', 'Королева')
('Сергей', 'Сидоров')
('Федор', 'Достоевский')

In [187]:
union_2 = """
SELECT title AS name FROM Books
UNION
SELECT first_name FROM Readers
"""
union_2_query = execute_read_query(connection, union_2)

for example in union_2_query:
    print(example)

('Война и мир',)
('Дмитрий',)
('Евгений Онегин',)
('Елена',)
('Иван',)
('Мария',)
('Мертвые души',)
('Ольга',)
('Преступление и наказание',)
('Сергей',)
('Темные аллеи',)
('Чайка',)

### Запрос с использованием DISTINCT

In [188]:
distinct = "SELECT DISTINCT publication_year, title FROM Books"

distinct_query = execute_read_query(connection, distinct)

for example in distinct_query:
    print(example)

(1869, 'Война и мир')
(1866, 'Преступление и наказание')
(1896, 'Чайка')
(1833, 'Евгений Онегин')
(1842, 'Мертвые души')
(1866, 'Темные аллеи')

## Обноваляем записи

In [189]:
# Обновляем запись в таблице Books (название книги с ID 1)
update_books_query = """
UPDATE Books
SET title = 'Война и мир (измененное издание)'
WHERE book_id = 1
"""
execute_query(connection, update_books_query)

Query executed successfully

In [190]:
# Обновляем запись в таблице Readers (фамилия читателя с ID 2)
update_readers_query = """
UPDATE Readers
SET last_name = 'Иванова'
WHERE reader_id = 2
"""
execute_query(connection, update_readers_query)

Query executed successfully

## Удаляем записи

In [191]:
# Удаляем записи с ID 7 из каждой таблицы

# Удаление из таблицы Authors
delete_from_authors_query = "DELETE FROM Authors WHERE author_id = 7"
execute_query(connection, delete_from_authors_query)

# Удаление из таблицы Books
delete_from_books_query = "DELETE FROM Books WHERE book_id = 7"
execute_query(connection, delete_from_books_query)

# Удаление из таблицы Readers
delete_from_readers_query = "DELETE FROM Readers WHERE reader_id = 7"
execute_query(connection, delete_from_readers_query)

# Удаление из таблицы BookIssues
delete_from_book_issues_query = "DELETE FROM BookIssues WHERE issue_id = 7"
execute_query(connection, delete_from_book_issues_query)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [192]:
# Удаляем все записи
delete_all_from_book_issues_query = "DELETE FROM BookIssues"
execute_query(connection, delete_all_from_book_issues_query)+

Query executed successfully

# MySql

In [1]:
import mysql.connector
from mysql.connector import Error

def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection("localhost", "root", "123456789")

Connection to MySQL DB successful

In [5]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
create_database_query = "CREATE DATABASE films"
create_database(connection, create_database_query)

The error '1007 (HY000): Can't create database 'films'; database exists' occurred

In [6]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection("localhost", "root", "123456789", "films")

Connection to MySQL DB successful

## Создание таблиц

In [7]:
def execute_query(connection, query):
     cursor = connection.cursor()
     try:
         cursor.execute(query)
         connection.commit()
         print("Query executed successfully")
     except Error as e:
         print(f"The error '{e}' occurred")

In [7]:
create_directors_table = """
CREATE TABLE Directors (
    director_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);
"""
execute_query(connection, create_directors_table)

create_films_table = """
CREATE TABLE Films (
    film_id INT AUTO_INCREMENT PRIMARY KEY,
    title TEXT,
    release_year YEAR,
    director_id INT,
    FOREIGN KEY (director_id) REFERENCES Directors(director_id)
);
"""
execute_query(connection, create_films_table)

create_actors_table = """
CREATE TABLE Actors (
    actor_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);
"""
execute_query(connection, create_actors_table)

create_filmActors_table = """
CREATE TABLE FilmActors (
    film_actor_id INT AUTO_INCREMENT PRIMARY KEY,
    film_id INT,
    actor_id INT,
    FOREIGN KEY (film_id) REFERENCES Films(film_id),
    FOREIGN KEY (actor_id) REFERENCES Actors(actor_id)
);
"""
execute_query(connection, create_filmActors_table)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

## Вставка

In [8]:
create_directors = """
INSERT INTO
  `Directors` (`first_name`, `last_name`)
VALUES
  ('Кристофер', 'Нолан'),
  ('Квентин', 'Тарантино'),
  ('Мартин', 'Скорсезе'),
  ('Стивен', 'Спилберг'),
  ('Альфред', 'Хичкок');
"""

execute_query(connection, create_directors)

Query executed successfully

In [9]:
create_films = """
INSERT INTO
  `Films` (`title`, `release_year`, `director_id`)
VALUES
  ('Начало', 2010, 1),
  ('Криминальное чтиво', 1994, 2),
  ('Отступники', 2006, 3),
  ('Спасти рядового Райана', 1998, 4),
  ('Психо', 1960, 5);
"""

execute_query(connection, create_films)

Query executed successfully

In [10]:
create_actors = """
INSERT INTO
  `Actors` (`first_name`, `last_name`)
VALUES
  ('Леонардо', 'Ди Каприо'),
  ('Брэд', 'Питт'),
  ('Роберт', 'Де Ниро'),
  ('Том', 'Хэнкс'),
  ('Энтони', 'Хопкинс');
"""

execute_query(connection, create_actors)

Query executed successfully

In [13]:
create_film_actors = """
INSERT INTO
  `FilmActors` (`film_id`, `actor_id`)
VALUES
  (1, 1),  
  (2, 2), 
  (3, 3), 
  (4, 4),  
  (5, 5);  
"""

execute_query(connection, create_film_actors)

Query executed successfully

## Запросы

In [8]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

### Select all

In [9]:
select_all_directors = "SELECT * FROM Directors"
directors = execute_read_query(connection, select_all_directors)
for director in directors:
    print(director)

(2, 'Квентин', 'Тарантино')
(3, 'Мартин', 'Скорсезе')
(4, 'Стивен', 'Спилберг')
(5, 'Альфред', 'Хичкок')

In [10]:
select_all_films = "SELECT * FROM Films"
films = execute_read_query(connection, select_all_films)
for film in films:
    print(film)

(2, 'Криминальное чтиво', 1995, 2)
(3, 'Отступники', 2006, 3)
(4, 'Спасти рядового Райана', 1998, 4)
(5, 'Психо', 1960, 5)

In [11]:
select_all_actors = "SELECT * FROM Actors"
actors = execute_read_query(connection, select_all_actors)
for actor in actors:
    print(actor)

(2, 'Брэд', 'Питт')
(3, 'Роберт', 'Де Ниро')
(4, 'Том', 'Хэнкс')
(5, 'Энтони', 'Хопкинс')

In [28]:
select_all_film_actors = "SELECT * FROM FilmActors"
film_actors = execute_read_query(connection, select_all_film_actors)
for film_actor in film_actors:
    print(film_actor)

(1, 1, 1)
(2, 2, 2)
(3, 3, 3)
(4, 4, 4)
(5, 5, 5)
(6, 1, 1)
(7, 2, 2)
(8, 3, 3)
(9, 4, 4)
(10, 5, 5)
(11, 1, 1)
(12, 2, 2)
(13, 3, 3)
(14, 4, 4)
(15, 5, 5)

### Join

In [29]:
join_query = """
SELECT Films.title, Directors.first_name, Directors.last_name
FROM Films
JOIN Directors ON Films.director_id = Directors.director_id
"""
join_results = execute_read_query(connection, join_query)
for result in join_results:
    print(result)

('Начало', 'Кристофер', 'Нолан')
('Криминальное чтиво', 'Квентин', 'Тарантино')
('Отступники', 'Мартин', 'Скорсезе')
('Спасти рядового Райана', 'Стивен', 'Спилберг')
('Психо', 'Альфред', 'Хичкок')

### Where and Group By

In [30]:
group_by_query = """
SELECT Actors.last_name, COUNT(FilmActors.actor_id) as number_of_films
FROM FilmActors
JOIN Actors ON FilmActors.actor_id = Actors.actor_id
WHERE Actors.first_name = 'Леонардо'
GROUP BY FilmActors.actor_id
"""
group_by_results = execute_read_query(connection, group_by_query)
for result in group_by_results:
    print(result)

('Ди Каприо', 3)

### Select

In [31]:
nested_select_1 = """
SELECT * FROM Films
WHERE director_id IN (SELECT director_id FROM Directors WHERE last_name = 'Нолан')
"""
nested_select_results_1 = execute_read_query(connection, nested_select_1)
for result in nested_select_results_1:
    print(result)

nested_select_2 = """
SELECT * FROM Actors
WHERE actor_id IN (SELECT actor_id FROM FilmActors WHERE film_id = 1)
"""
nested_select_results_2 = execute_read_query(connection, nested_select_2)
for result in nested_select_results_2:
    print(result)

(1, 'Начало', 2010, 1)
(1, 'Леонардо', 'Ди Каприо')

### Union

In [32]:
union_query = """
SELECT first_name FROM Directors
UNION
SELECT first_name FROM Actors
"""
union_results = execute_read_query(connection, union_query)
for result in union_results:
    print(result)

('Кристофер',)
('Квентин',)
('Мартин',)
('Стивен',)
('Альфред',)
('Леонардо',)
('Брэд',)
('Роберт',)
('Том',)
('Энтони',)

### Distinct

In [33]:
distinct_query = "SELECT DISTINCT release_year FROM Films"
distinct_results = execute_read_query(connection, distinct_query)
for result in distinct_results:
    print(result)

(2010,)
(1994,)
(2006,)
(1998,)
(1960,)

## Обновление

In [43]:
update_director = """
UPDATE Directors
SET last_name = 'Nolan'
WHERE director_id = 1;
"""

execute_query(connection, delete_from_directors)

Query executed successfully
Query executed successfully
Query executed successfully

In [44]:
update_film = """
UPDATE Films
SET release_year = 1995
WHERE film_id = 2;
"""
execute_query(connection, update_film)

Query executed successfully

## Удаление

In [45]:
disable_fk_checks = "SET FOREIGN_KEY_CHECKS = 0;"
enable_fk_checks = "SET FOREIGN_KEY_CHECKS = 1;"

In [46]:
delete_from_directors = """
DELETE FROM Directors
WHERE director_id = 1;
"""
execute_query(connection, disable_fk_checks)
execute_query(connection, delete_from_directors)
execute_query(connection, enable_fk_checks)

Query executed successfully
Query executed successfully
Query executed successfully

In [48]:
delete_from_films = """
DELETE FROM Films
WHERE film_id = 1;
"""
execute_query(connection, disable_fk_checks)
execute_query(connection, delete_from_films)
execute_query(connection, enable_fk_checks)

Query executed successfully
Query executed successfully
Query executed successfully

In [49]:
delete_from_actors = """
DELETE FROM Actors
WHERE actor_id = 1;
"""
execute_query(connection, disable_fk_checks)
execute_query(connection, delete_from_actors)
execute_query(connection, enable_fk_checks)

Query executed successfully
Query executed successfully
Query executed successfully

In [50]:
delete_from_film_actors = """
DELETE FROM FilmActors
WHERE film_actor_id = 1;
"""
execute_query(connection, disable_fk_checks)
execute_query(connection, delete_from_film_actors)
execute_query(connection, enable_fk_checks)

Query executed successfully
Query executed successfully
Query executed successfully

## Удаление всего

In [51]:
delete_all_film_actors = "DELETE FROM FilmActors;"

execute_query(connection, delete_all_film_actors)

Query executed successfully